// ==========================================================================
// SETTINGS | Sizes
// spacing, gutters, widhts, breakpoints...
// ==========================================================================

// ----- Fluid sizing thresholds
$threshold--mobile: 320px;
$threshold--desktop: 1280px;

// ----- Breakpoints
$breakpoint--mobile: 480px;
$breakpoint--mobile-l: 640px;
$breakpoint--tablet: 768px;
$breakpoint--tablet-l: 960px;
$breakpoint--desktop: 1024px;
$breakpoint--desktop-xl: 1280px;

// ----- Spacings
$padding--xxs: 8px;
$padding--xs: 16px;
$padding--s: 20px;
$padding--m: 24px;
$padding--l: 32px;
$padding--xl: 40px;
$padding--xxl: 80px;

// ----- Gutters
$gap--xs: 20px;
$gap--s: 25px;
$gap--m: 40px;
$gap--l: 60px;

// ----- Max-widths
$width--xs: 560px;
$width--xs-gutter: 640px;
$width--s: 760px;
$width--s-gutter: 840px;
$width--m: 1160px;
$width--m-gutter: 1240px;
$width--l: 1520px;
$width--l-gutter: 1600px;

// ==========================================================================
// Implementations
// ==========================================================================


.gutter--m-bottom {
    margin-bottom: $gap--m;
}