// ==========================================================================
// OBJECTS | Lists
// ==========================================================================

// ==========================================================================
// OBJECTS | Lists
// ==========================================================================

.text--styled {
  ol,
  ul {
    &:not(:last-child) { }
  }

  ol {
    counter-reset: section;

    > li {
      &:before {
        counter-increment: section;
        // content: counter(section)'.'; // Sublists without decimals: 1
        content: counters(section, ".")'.'; // Sublists with decimals: 1.1.1
        display: inline-block;
      }
    }
  }

  ul {
    > li {
      &:before {
        content: '';
      }
    }
  }
}


