// ==========================================================================
// GLOBAL | Core
// ==========================================================================
* {
  box-sizing: border-box;
}



// -----

html,
body,
.App,
.main {
  height: 100%;
}

.main {
  overflow: scroll;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size-adjust: auto;
  min-width: $threshold--mobile;
}
